# SQL Part 1 Exercises

## The Goodbooks-10k dataset

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### Getting Started

- This dataset has 5 tables. We are going to use the exercises to explore each table and practice SQL syntax.
- We will be covering the following commands with our tables:
    - **SELECT**, **FROM**, **\***, **TOP**, **LIKE**, **%** (the wildcard), **IN**, **BETWEEN**, **ORDER BY**, **AS**, **ASC,** **DESC**, **DISTINCT**, **LIMIT**, **WHERE**, **GROUP BY**, Aggregation, and Arithmetic Operators

# A. The **Books** Table

### Column Context

- **id** = instance of a book (ie: the top 10k books in some order)
- **book\_id** = the instance of the book in the Goodreads database
    - [https://www.goodreads.com/book/show/3.Harry\_Potter\_and\_the\_Sorcerer\_s\_Stone](https://www.goodreads.com/book/show/3.Harry_Potter_and_the_Sorcerer_s_Stone)
- **best\_book\_id** = is the most popular edition for a given work. Generally, it's the same as **goodreads\_book\_id** but differs occasionally
    - [https://www.goodreads.com/book/show/3.Harry\_Potter\_and\_the\_Sorcerer\_s\_Stone](https://www.goodreads.com/book/show/3.Harry_Potter_and_the_Sorcerer_s_Stone)
- **work\_id** =  [Work IDs](https://help.goodreads.com/s/article/What-s-a-Work-ID-and-where-can-I-find-it) are unique identification numbers that represent books in the Goodreads catalog.  Work view holds collections of quotes collected by users for this edition/version.
    - [https://www.goodreads.com/work/quotes/4640799-harry-potter-and-the-philosopher-s-stone](https://www.goodreads.com/work/quotes/4640799-harry-potter-and-the-philosopher-s-stone) 
- **books\_count** = is the number of editions for a given work
- **isbn** = International Standard Book Number, or a [book's unique identifier](https://en.wikipedia.org/wiki/International_Standard_Book_Number#How_ISBNs_are_issued)
- **isbn13** = 13 digit long isbn issued after 2007.  The [GS1](https://en.wikipedia.org/wiki/GS1)  prefix currently is 978 or 979
- **authors** = the first entry is who wrote the book, followed by illustrators, contributors, translators, etc
- **original\_publication\_year** = when the book was first published
- **originial\_title** = the original title the book was given. This could be the title in the book's original language, the title of the book in a series, etc.
- **title** = The title after translating and its location in a series, including the series name and the book's position in the series.
- **language\_code** = what language the book was in when this data was scraped
- **average\_rating** = On Goodreads, this average is [calculated](https://help.goodreads.com/s/article/As-an-author-how-is-the-average-rating-of-my-books-calculated#:~:text=On%20Goodreads%2C%20this%20average%20is,the%20total%20number%20of%20ratings.) as the sum of all of the author's book ratings divided by the total number of ratings.
- **ratings\_count** = total number of ratings
- **work\_ratings** = likes for each quote? or likes for this edition??
- **work\_text\_reviews\_count** = number of text reviews for each book.
- **ratings\_1** = number of 1 star reviews
- **ratings\_2** = number of 2 star reviews
- **ratings\_3** = number of 3 star reviews
- **ratings\_4** = number of 4 star reviews
- **ratings\_5** = number of 5 star reviews
- **image\_url** = cover image
- **small\_image\_url** = thumbnail image of cover

QUESTION 1: Select the [top 1000 rows](https://www.w3schools.com/sql/sql\_top.asp) from the books table.  Make sure you are able to see all of the columns.

In [ ]:
-- Code Here:
SELECT top 1000 * 
FROM books

QUESTION 2: Count the number of titles.  Are there 10,000 titles as promised by the dataset?

In [ ]:
-- Code Here:
SELECT COUNT(title) FROM books

QUESTION 3: Count the number of books where the original\_publication\_year is earlier than 1800.

In [ ]:
-- Code Here:
SELECT COUNT(title) FROM books
WHERE original_publication_year < 1800

QUESTION 4: Create a query that displays distinct authors from the table.

In [ ]:
-- Code Here:
SELECT DISTINCT authors FROM books

QUESTION 5: Create a query that displays a count of all the books that contain a language code for English.  This could be represented in the table as "eng" or "en-".

In [ ]:
-- Code Here:
SELECT * FROM books
WHERE language_code IN  ('eng', 'en-')

QUESTION 6: Create a query to check how many original titles were written during World War I era (1914-1921).

In [ ]:
-- Code Here:
SELECT * FROM books
WHERE original_publication_year >= 1914 AND original_publication_year <= 1921

# B. The **Book Tags** Table

### Column Context

- **goodreads\_book\_id** = the id of the book
- **tag\_id** = matches to a specific tag that can be found in the _tags_ table.
- **count** = the number of times this tag was used for this book.

QUESTION 1: SELECT the TOP 1000 table items ordered by the *tag_id*

In [ ]:
-- Code Here:
SELECT TOP 1000 * FROM book_tags
ORDER BY tag_id

QUESTION 2: Create a query that counts the number of *goodreads_book_id* grouped by the *tag_id*.

In [ ]:
--- Code Here:
SELECT COUNT(goodreads_book_id) FROM book_tags
GROUP BY tag_id

QUESTION 3: In the last query, we created a new, unnamed column.  Using **AS** create an alias to provide a name of your choice to this new column.

In [ ]:
-- Code Here:
SELECT COUNT(goodreads_book_id) AS "Number of Books Per Tag"
FROM book_tags
GROUP BY tag_id

# C. The **Ratings** Table

### Column Context

- **book\_id** = the identifier of the book
- **user\_id** = the identifier of the user who gave a rating
- **rating** = the rating given by the user to the book

QUESTION 1: Create a query that displays the top 1000 items in the table in descending order.

In [ ]:
-- Code Here:
SELECT TOP 1000 * FROM ratings
ORDER BY book_id DESC

QUESTION 2: Create a query that returns the total number of users that have given a rating of less than 2.

In [ ]:
-- Code Here:
SELECT COUNT(user_id) FROM ratings
WHERE rating < 2

QUESTION 3: Create a query that returns the sum of books that have a rating of 4 or higher.

In [ ]:
-- Code Here:
SELECT COUNT(book_id) FROM ratings
WHERE rating >= 4

# D. The **Tags** Table

### Column Context

- **tag\_id** = the identifier of the specific tag 
- **tag\_name** = a tag created by users when creating reviews

QUESTION 1: Create a query that returns table items where the _tag\_name_ describes the book as a mystery.

Hint: Use the wildcard to find the word mystery at the beginning, middle, and end of a _tag\_name_

In [ ]:
-- Code Here:
   SELECT * FROM tags
   WHERE (tag_name LIKE '%mystery' OR tag_name LIKE '%mystery%' OR tag_name LIKE 'mystery%')

QUESTION 2: Run the query below.  In your own words, what is it returning?

In [ ]:
SELECT * 
FROM BooksDB.dbo.tags
WHERE tag_name < 'd' AND tag_name >= 'c';

YOUR ANSWER: It is returning all rows where the tag begins with the letter 'c'

# The **To Read** Table

QUESTION 1:  Create a query that uses the user\_id to count the total number of books that each user wants to read.  Print the results in ascending order by user\_id under the alias 'Total Books To Read'

_Hint: You can use both GROUP BY and ORDER BY to complete this query._

In [ ]:
-- Code Here:
SELECT COUNT(user_id) AS "Total Books To Read"
FROM to_read
GROUP BY user_id 
ORDER BY user_id ASC

QUESTION 2: Create a query that uses user\_id to count the total number of books each user wants to read.  Have the results sort the table by the total number of book\_ids in descending order and under the alias 'Total Books To Read'.

_Hint: You can use both GROUP BY and ORDER BY to complete this query._

In [ ]:
-- Code Here:
SELECT COUNT(user_id) AS 'Total Books to Read'
FROM to_read
GROUP BY book_id
ORDER BY book_id DESC